/* -- CSS bij oefening Travotel -- */

@import "reset.css";
@import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    font: 400 100%/1.5 "Montserrat Alternates", Arial, sans-serif;
    background: white;
}

/* navigatie----------------------------------------- */

a {
    color: #F0A800;
    text-decoration: none;
    transition: all 500ms;
}

a:hover {
    text-decoration: underline;
}

a.hamburger {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    background: #303030;
    color: white;
    padding: 10px;
}

a.hamburger span {
    position: absolute;
    top: -9000px;
}

a.hamburger:hover {
    text-decoration: none;
    background: #F0A800;
}

.mainnav {
    background: #353535;
    padding: 2em;
}

.mainnav img {
    width: 200px;
}

.mainnav ul {
    display: none;
}