/* -- CSS bij oefening Travotel -- */

@import "reset.css";
@import "https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;500;700&display=swap";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css";

body {
    font: 400 100%/1.5 "Montserrat Alternates", Arial, sans-serif;
    background: white;
}

/* navigatie----------------------------------------- */

a {
    color: #F0A800;
    text-decoration: none;
    transition: all 500ms;
}

a:hover {
    text-decoration: underline;
}

a.hamburger {
    display: block;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2rem;
    background: #303030;
    color: white;
    padding: 10px;
}

a.hamburger span {
    position: absolute;
    top: -9000px;
}

a.hamburger:hover {
    text-decoration: none;
    background: #F0A800;
}

.mainnav {
    background: #353535;
    padding: 2em;
}

.mainnav img {
    width: 200px;
}

.mainnav ul {
    display: none;
}

/*------------------ header -------------------*/

.mainheader {
    background: black url(../images/bg-header.jpg) no-repeat center bottom;
    min-height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1 {
    font: 500 2.5rem/1 "Montserrat Alternates", Arial, sans-serif;
    color: white;
    text-align: center;
    text-shadow: 1px 1px 1px rgba(53, 53, 53, 0.8);
}

h1 span {
    display: block;
}

/*------------------ beschikbaarheid -----------------*/

.beschikbaarheid {
    background: rgba(0, 0, 0, 0.7);
    width: 80vw;
    padding: 2em;
}

.beschikbaarheid h2 {
    font: 400 1.4rem/1 "Montserrat Alternates", Arial, sans-serif;
    color: white;
}

.beschikbaarheid ul li {
    font-weight: 500;
    background: rgba(255, 255, 255, 0.95);
    height: 100px;
    margin-top: 1em;
    padding: 1em;
}

.beschikbaarheid ul li:last-child {
    padding: 0;
}

.beschikbaarheid ul li:last-child button {
    display: block;
    width: 100%;
    height: 100px;
    background: #F0A800;
    border: none;
    color: white;
    font: 500 1.3rem/1 "Montserrat Alternates", Arial, sans-serif;
    cursor: pointer;
    transition: background 500ms;
}

.beschikbaarheid ul li:last-child button:hover {
    background: white;
    color: #F0A800;
}